.spinner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    color: white;
    background: #0f0f0f,
}

.ImgCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}