/* .container {
border: 1px solid rgb(139, 241, 79);
width: 136%
} */



.welCon {
    padding-top: 2%;
}

.userName {
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 2;
    text-align: center;
}

.welTxt {
    text-align: center;
}

.allImgesCont {
    margin: 1rem 3rem;
    /* border: 1px solid red; */
    /* height: 10rem; */
}

.imgContainer {
    border: 1px solid greenyellow;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 1rem;
    border-radius: 1%;
}

.heartBtn {
    /* border: 1px solid blueviolet; */
    position: absolute;
    top: 3px;
    right: 1rem;
    background: none;
    border: none;
    cursor: point;
    padding: 0;

}

.allImagesStyl {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.userAccCon {
    border: 1px solid green;
    display: flex;
    width: 40rem;
    justify-content: end;
    align-items: end;
}

.imgsBtn {
    display: flex;
    /* justify-content: end; */
    /* color: oklch(71.2% 0.194 13.428); */
    align-items: center;
    justify-content: space-between;
    /* padding: 0 8px; */
}

.imgBtn {
    /* border: 1px solid rgb(121, 121, 247); */
    border: none; 
    margin-top: 2px;
    border-radius: 5px;
    padding: 5px; 
}

.commBtnCont {
    /* border: 1px solid yellow;  */
    display: flex; 
    justify-content: center;
     
}

.commBtn {
background-color: rgb(83, 197, 57);
}

.commBtn:hover{
    background-color: rgb(113, 220, 89);
}

.imgName {

    margin-right: 2rem;
    /* text-align: center; */
    flex: 1;
    /* add this — makes name take equal space */
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */

}



.noImgMsgOnGalPic {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
}

.loadingMsg {
    text-align: center;
}

.allGalImgCon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gallImgsCard {
    border: 1px solid rgb(135, 204, 174);

    height: auto;
    width: 17rem;
    border-radius: 14px;
    position: relative;
    margin: 5px;
}

.gallImgStyl {
    /* border: 1px solid orange; */
    width: 100%;
    height: 200px;
    border-radius: 14px;
}

.editBtn {
    margin-right: 3rem;
    margin-left: 4px;
    background-color: oklch(74.6% 0.16 232.661);
}

.editBtn:hover {
  background-color: oklch(78.9% 0.154 211.53);
}

.delBtn {
margin-right: 5px; 
/* background-color: oklch(71.2% 0.194 13.428);  */
background-color:oklch(64.5% 0.246 16.439)
}

.delBtn:hover {
/* background-color: oklch(64.5% 0.246 16.439); */
background-color: oklch(71.2% 0.194 13.428);;
}

.tagCommCont {
    /* border: 1px solid orange;  */
    margin: 0 1rem;
}