.container {
    border: 1px solid rgb(255, 51, 0);
    /* width: 136% */
}

.navCon {
    width: 20%;
    margin-right: 4rem;
    padding: 3%;
    border: 1px solid blue; 
    display: flex; 
    flex-wrap: wrap;


    /* border: 1px solid red;  */
}

.welCon {
    padding-top: 2%;
}

.userName {
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 2;
    text-align: center;
    /* margin-right: 7rem; */
}

.welTxt {
    text-align: center;
    /* margin-right: 7rem;  */
}

.imgContainer {
    border: 1px solid greenyellow;
    box-sizing: border-box;
    width: 15.8rem;
    height: 17rem; 
    position: relative;
    display: inline-block;
}

.heartBtn {
    border: 1px solid blueviolet;
    position: absolute;
    top: 3px;
    right: 2rem;
    background: none;
    border: none;
    cursor: point;
    padding: 0;

}

/*  */

.userAccCon {
    border: 1px solid green;
    display: flex;
    width: 40rem;
    justify-content: end;
    align-items: end;

}