.shAlHdTxt {
    margin-left: 20rem;
}

.marginR {
    margin-right: 2rem;
}

.shardAlbCont {
    border: 1px solid #ccc;
    width: 250px;
    height: 200px;
    background: #272732;
}

.shardAlbCont {
    border: 1px solid green;
    padding: 1rem;
}

.albumName {
    margin: "0 0 8px"
}

.pStyle {
    margin: 0 0 6px;
    font-size: 13px;
    color: #d8d3d3;
}

.vBtnCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid green;
}

.vBtnStyl {
    margin-top: 10px;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}