.imgUploadCon {
    /* border: 1px solid #750404;  */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    display: flex;
    border: 1px solid rgb(233, 255, 233);
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 22rem;
}

.imgCon {
    border: 1px solid rgb(225, 107, 56);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgInp {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(102, 37, 9); */
}

.fieldCon {
    /* border: 1px solid blue; */
    padding: 1rem;
    width: 20rem
}

.inptStl {
    /* border: 1px solid green; */
    margin-left: 1rem;
}

/* .textariaStyl { */
    /* border: 1px solid yellow; */
    /* margin-top: 1rem; */
/* } */

.uplImgBtn {
    display: flex; 
    flex-direction: row;
    justify-content: center;

}

.outImgUplCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid blue; */
    width: 60rem;
}

@media (max-width: 768px) {

    .imgUploadCon {
        width: 20rem;
        padding: 1.1rem;
    }

    .outImgUplCon {
        width: 20rem;
    }

    .formContainer {
        width: 21rem;
    }
}