.navItems {
    /* border: 1px solid grey; */
    padding: 0
}

.navItem {
    list-style: none;
    padding: 1rem;
    text-decoration: none;

}

.logo {
    display: flex;
    justify-content: center;
}

.navLogo {
    /* border: 1px solid rgb(228, 69, 20); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 15rem;

}


.navItemtxt {
    font-size: large;
    text-decoration: none;
    color: #46d0ab;
}

.navItemtxt:hover {
    color: white;
}

.navItemtxt.active {
    color: yellowgreen;
    font-weight: 600;
}

.navItemtxt.active {
    color: yellowgreen;
    font-weight: 600px;
}

.navContainer {
    /* border: 1px solid greenyellow; */
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 15rem;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(55, 62, 60);
}


.logOutBtn {
    margin-left: 8px;
    /* border:1px solid red;  */
    border-radius: 3px;
    background-color: rgb(97, 205, 50);
}

.wholeNavCont {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid rgb(87, 241, 244) */
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}


@media (max-width: 600px) {
    .navContainer {
        width: 94%;
        min-height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
    }

    .navLogo {
        width: 100%;
    }



    /* Shows hamburger on mobile device*/
    .hamburger {
        display: flex;
    }

    /* Hides nav links by default on mobile */
    .navItems {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 10px 0;
    }

    /* Shows nav links when open */
    .navItems.open {
        display: flex;
    }
}


.myAcc {
    margin: 0;
    margin-bottom: 10px;
}